
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Merriweather", serif;
}
/*shared style*/
.text{
    text-align: center;
}
.text-primary{
    color: 
    rgb(255, 0, 0);
}
/*banner style*/
.banner-container{
background-image: url('../images/banner-img.png'); 
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
background-color: rgb(0,0,0,0.3);  
background-blend-mode:overlay ;
width: 1320px;
height: 600px;
margin: 0 auto;
margin-top: 20px;
border-radius: 16px;
}
.banner-content{
    color: white;
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-sub-title{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}
.banner-title{
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
/*offer section style*/
.offer-container{
    height: 806px;
    max-width: 802px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer-title{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
line-height: 107px;
text-align: center;
margin-bottom: 48px;
}
.offer-sub-title{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
text-align: center;
margin-top: 0;
margin-bottom: 16px;
}

.offer-description{
color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
text-align: center;
margin-top: 0;
margin-bottom: 48px;
}
/*welcome section style*/
.welcome-container{
    max-width: 1320px;
    max-height: 600px;
    margin: 0 auto;
    margin-top: 99px;
    background-image: url('../images/Vectorrr.png');
    border-radius: 16px;
    background-color: linear-gradient(100.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
   
}
.welcome-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.welcome-title{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
letter-spacing: 11%;
text-align: left;
margin-left: 109px;
margin-bottom: 26px;
margin-top: 50px;
}
.welcome-description{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-left: 126px;
margin-top: 0;
margin-bottom: 0;
}
.welcome-join-btn{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-left: -304px;
margin-top: 40px;
}
.welcome-img{
    max-width: 349px;
    height: 464px;
    margin-left: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 108px;
    margin-top: 68px;

}
.welcome-img img{
    width: 90%;
    height: 90%;
}
/*about section style*/
.about{
    max-width: 1320px;
    height: 482px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin: 140px 120px;
}
.about-container{
    width: 549px;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.about .place {
    font-family: "Inter", sans-serif;
font-size: 26px;
font-weight: 600;
line-height: 46px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
margin-top: 0;
margin-bottom: 8px;
}
.about .date {
    font-family: "Inter", sans-serif;
font-size: 26px;
font-weight: 600;
line-height: 46px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
margin-top: 0;
margin-bottom: 8px;
}
.about .time {
    font-family: "Inter", sans-serif;
font-size: 26px;
font-weight: 600;
line-height: 46px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
margin-top: 0;
margin-bottom: 15px;
}
.about-btn{
    width: 150px;
    height: 46px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 15px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
border-radius: 8px;
background-color: rgb(255, 0, 0);
border: none;
}
/*new offer section style*/
.new-offer-container{
    max-width: 1320px;
    height: 464px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin: 140px 120px;
}
.new-offer-left{
    width: 375px;
    height: 255px;
}
.left-sub-title{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
margin-top: 5px;
margin-bottom: 16px;
}
.left-title{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 38px;
font-weight: 900;
line-height: 50px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
margin-top: 0;
margin-bottom: 22px;
}
.left-description{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin-top: 0;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.new-offer-middle{
    width: 360px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
border: 15px solid rgb(255, 0, 0);

}
.new-offer-middle img{
    width: 90%;
    height: 90%;
}
.new-offer-right{
    width: 250px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    
}
.right-title{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 38px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: left;
}
.new-offer-right img{
    width: 130px;
    height: 130px;
}