
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Merriweather", serif;
}
/*banner style*/
.banner-container{
background-image: url('../images/Banner\ Image.png'); 
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
background-color: rgb(0,0,0,0.3);  
background-blend-mode:overlay ;
width: 1320px;
height: 600px;
margin: 0 auto;
margin-top: 20px;
border-radius: 16px;
}
.banner-content{
    color: white;
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-sub-title{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}
.banner-title{
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
/*offer section style*/
.offer-container{
    height: 806px;
    max-width: 802px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer-title{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
line-height: 107px;
text-align: center;
margin-bottom: 48px;
}
.offer-sub-title{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
text-align: center;
margin-top: 0;
margin-bottom: 16px;
}
.offer-img img{
    border:2px solid rgb(74, 72, 72) ;

}
.offer-description{
color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
text-align: center;
margin-top: 0;
margin-bottom: 48px;
}